<%  if user_signed_in? %>
   sdafsdafdsa

<% else %>
<h3>Home</h3>
<% @users.each do |user| %>

<% end %>

<div id="home-template" class="wrapper">
<section class='intro'>
  <h1>
    Where developers come to meet.
  </h1>
  <h2>
    Join us
  </h2>
  <ul class='sign-up-list'>
    <li>
      <a href='/auth/github' rel='nofollow'>
        <span class='git'></span>
        GitHub
      </a>
    </li>
    <li>
      <a href='/auth/twitter' rel='nofollow'>
        <span class='twitter'></span>
        Twitter
      </a>
    </li>
    <li>
      <a href='/auth/linkedin' rel='nofollow'>
        <span class='linkedin'></span>
        LinkedIn
      </a>
    </li>
  </ul>
</section>
    </div>

<% end %>
