@import "bootstrap";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.site-header {
  padding: 4% 7%;
  padding-top: 4%;
  padding-right: 7%;
  padding-bottom: 4%;
  padding-left: 7%;
  background: url(https://d3levm2kxut31z.cloudfront.net/assets/new-home/div-bar-c72a684f210680823ba324a0964508df.png) no-repeat top center;
  background-image: url(https://d3levm2kxut31z.cloudfront.net/assets/new-home/div-bar-c72a684f210680823ba324a0964508df.png);
  background-position-x: 50%;
  background-position-y: 0%;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
/* home-template */

#home-template {
  background: #d5d5d5 url(https://d3levm2kxut31z.cloudfront.net/assets/premium-team-description/dot-bg-772c492e26f4fd9005037ffafea0e943.jpg) repeat;
}

#home-template .wrapper {
  max-width: 1140px;
  margin: 0 auto;
  background: #3f7eb0;
}

/* intro */

.intro {
  background: #3f7eb0;
}
.intro h1 {
  font-size: 4em;
  color: #fff;
  text-align: center;
  font-family: "MuseoSans-300";
  padding: 2% 7%;
}

.intro .sign-up-list {
  text-align: center;
  margin-bottom: 7%;
}

.intro .sign-up-list a span {
  display: inline-block;
  height: 23px;
  width: 21px;
  background: url(https://d3levm2kxut31z.cloudfront.net/assets/new-home/sign-up-sprite-home-75cf1371093a1ab5f329e3257a38ec40.png) no-repeat 0px 0px;
  margin-right: 5px;
  margin-left: -20px;
  margin-bottom: -4px;
}

.intro .sign-up-list li:first-child {
  margin-left: 0;
}

.intro .sign-up-list a {
  display: block;
  background: #fbfbfb;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #2c6593;
  font-size: 1.6em;
  height: 60px;
  line-height: 60px;
  width: 171px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(53,103,163,0.7);
  box-shadow: 0px 3px 0px 0px rgba(53,103,163,0.7);

}

.intro .sign-up-list a span {
  display: inline-block;
  height: 23px;
  width: 21px;
  background: url(https://d3levm2kxut31z.cloudfront.net/assets/new-home/sign-up-sprite-home-75cf1371093a1ab5f329e3257a38ec40.png) no-repeat 0px 0px;
  margin-right: 5px;
  margin-left: -20px;
  margin-bottom: -4px;
}
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}
.about_footer {
  border-top:#e8e8e8 solid 1px;
  background:#f6f6f6;
  padding:40px 67px;
  -webkit-border-bottom-left-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  background:url(https://d3levm2kxut31z.cloudfront.net/assets/paper-texture-78e81f14f426b1043da12ae2e3894487.jpg) repeat;
  position:relative
}

.comments{
  background:#343131;
  padding-top:30px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  color: #fff;
}

.add-comment{
  background:#262626
  ;padding:30px 70px 70px 70px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px
  ;border-bottom-left-radius:8px;
  border-bottom-right-radius:8px
}

.add-comment textarea{
  width:93.5%;
  padding:3%;
  min-height:120px;
  resize:vertical;
  font-size:1.4em;
  line-height:1.6em;
  margin-bottom:20px
}

img.avatar {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  width: 62px;
  height: 62px;
  float: left;
  margin-left: -90px;
}

post-single {
  background: #000;
  color: #343131;
  margin-bottom: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  width: 630px;
  min-height: 153px;
  word-wrap: break-word;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

