@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
}
.about_footer {
  border-top:#e8e8e8 solid 1px;
  background:#f6f6f6;
  padding:40px 67px;
  -webkit-border-bottom-left-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  background:url(https://d3levm2kxut31z.cloudfront.net/assets/paper-texture-78e81f14f426b1043da12ae2e3894487.jpg) repeat;
  position:relative
}
